:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Pale-blue);
}

.board {
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    width: 550px;
    height: 50vh;
    font-family: 'Hanken Grotesk', sans-serif;
    border-radius: 20px;
}

/* RESULTBOARD */
.resultBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100%;
    background: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
    text-align: center;
    border-radius: 20px;
}
.resultBoard h4 {
    color: var(--Light-lavender);
    font-size: 18px;
    padding-top: 13%;
    padding-bottom: 10%;
}
.piePercentage {
    background: linear-gradient(var(--Persian-blue-circle), var(--Violet-blue-circle));
    width: 100px;
    height: 100px;
    border-radius: 360px;
    padding-top: 8%;
}
.piePercentage h1 {
    color: var(--White);
    font-weight: 600;
    font-size: 40px;
}
.piePercentage p {
    font-size: 10px;
    font-weight: bold;
    color: var(--Light-lavender);
}
.resultBoard h3 {
    color: var(--White);
    padding-top: 12%;
}
#comment {
    padding-top: 5%;
    font-size: 12px;
    width: 170px;
    color: var(--White);
}

/* SCOREBOARD */
.scoreBoard {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 5%;
}
.scoreBoard h4 {
    color: var(--Dark-gray-blue);
    font-size: 18px;
    padding-top: 13%;
}
.courses {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 5%;
}
.scoreBoard ul li {
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 10px;
    margin-top: 8px;
    padding-left: 0;
}
.scoreBoard img {
    padding: 0 8px;
    width: 32px;
}
#reaction {
    background-color: #fff6f5;
    color: var(--Light-red);
    width: 230px;
    height: 45px;
    font-weight: 600;
    text-align: center;
}
#reaction p {
    padding-left: 80px;
    font-weight: bold;
    font-size: 13px;
    color: var(--Dark-gray-blue);
}
#reaction span {
    color: #9e9ba9;
}
#memory {
    background-color: #fffcec;
    color: var(--Orangey-yellow);
    width: 230px;
    height: 45px;
    font-weight: 600;
    text-align: center;
}
#memory p {
    padding-left: 80px;
    font-weight: bold;
    font-size: 13px;
    color: var(--Dark-gray-blue);
}
#memory span {
    color: #9e9ba9;
}
#verbal {
    background-color: #d6fffd;
    color: var(--Green-teal);
    width: 230px;
    height: 45px;
    font-weight: 600;
    text-align: center;
}
#verbal p {
    padding-left: 92px;
    font-weight: bold;
    font-size: 13px;
    color: var(--Dark-gray-blue);
}
#verbal span {
    color: #9e9ba9;
}
#visual {
    background-color: #eaf6ff;
    color: var(--Cobalt-blue);
    font-weight: 600;
    width: 230px;
    height: 45px;
    text-align: center;
    margin-bottom: 20px;
}
#visual p {
    padding-left: 96px;
    font-weight: bold;
    font-size: 13px;
    color: var(--Dark-gray-blue);
}
#visual span {
    color: #9e9ba9;
}

button {
    width: 230px;
    height: 50px;
    border-radius: 90px;
    /* background-color: var(--Dark-gray-blue); */
    background: linear-gradient(var(--Light-royal-blue-background), var(--Cobalt-blue));
    border: none;
    color: var(--White);
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width: 640px) {
    .board {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    /* RESULTBOARD */
    .resultBoard {
        width: 100%;
        height: 460px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .resultBoard h4 {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .piePercentage {
        width: 130px;
        height: 130px;
        padding-top: 3%;
    }
    .piePercentage h1 {
        font-size: 65px;
    }
    .piePercentage p {
        font-size: 15px;
    }
    .resultBoard h3 {
        padding-top: 4%;
        font-size: 25px;
    }
    #comment {
        padding-top: 2%;
        padding-bottom: 5%;
        font-size: 13px;
        width: 200px;
    }

    /* SCOREBOARD */
    .scoreBoard {
        height: 100%;
        padding-left: 0;
    }
    .scoreBoard h4 {
        font-size: 18px;
        padding-top: 8%;
    }
    .courses {
        height: 100%;
        width: 100%;
        padding-top: 3%;
    }
    .scoreBoard ul li {
        margin-top: 15px;
        padding-left: 0;
    }
    .scoreBoard img {
        padding: 0 7px;
        width: 32px;
    }
    #reaction {
        width: 360px;
    }
    #reaction p {
        padding-left: 207px;
    }
    #memory {
        width: 360px;
    }
    #memory p {
        padding-left: 208px;
    }
    #verbal {
        width: 360px;
    }
    #verbal p {
        padding-left: 222px;
    }
    #visual {
        width: 360px;
        margin-bottom: 35px;
    }
    #visual p {
        padding-left: 225px;
    }

    button {
        width: 360px;
        height: 50px;
        border-radius: 90px;
        /* background-color: var(--Dark-gray-blue); */
        background: linear-gradient(var(--Light-royal-blue-background), var(--Cobalt-blue));
        border: none;
        color: var(--White);
        font-family: 'Hanken Grotesk', sans-serif;
        font-weight: 600;
        cursor: pointer;
    }
}